<div *ngIf="!showAdminForm">
<mat-toolbar class="toolbar-custom">
  <span>New Company</span>
</mat-toolbar>
<mat-card class="example-card">
  <mat-card-content>
    <form class="my-form" [formGroup]="newCompanyForm">

      <mat-form-field class="full-width">
        <mat-label>Company Name</mat-label>
        <input matInput placeholder="Company name"
               formControlName="name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address"
               formControlName="address">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Company Phone</mat-label>
        <input matInput placeholder="Company phone"
               formControlName="companyPhone">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Company Email</mat-label>
        <input matInput placeholder="Company email"
               formControlName="companyEmail">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Embs</mat-label>
        <input matInput placeholder="EMBS"
               formControlName="embs">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Edbs</mat-label>
        <input matInput placeholder="EDBS"
               formControlName="edbs">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-select placeholder="Type" formControlName="companyType">
          <mat-option [value]="0">Office</mat-option>
          <mat-option [value]="1">Solo</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-select placeholder="Status" formControlName="cstatus">
          <mat-option *ngFor="let status of statuses" [value]="status">{{status.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="submit"(click)="validateCompanyForm()" color="primary">Next</button>
  </mat-card-actions>
</mat-card>
</div>


<div *ngIf="showAdminForm">
  <mat-toolbar class="toolbar-custom">
    <span>Company admin</span>
  </mat-toolbar>
  <mat-card class="example-card">
    <mat-card-content>
      <form class="my-form" [formGroup]="newCompanyAdminForm">


        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First name"
                 formControlName="firstname">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastname">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="full-width">

          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" formControlName="password"
                 [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">
            {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>


        <mat-form-field class="full-width">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Phone" formControlName="phone">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-select placeholder="Roles" formControlName="uroles" multiple>
            <mat-option *ngFor="let role of roles" [value]="role">{{role.name}}</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="full-width">
          <mat-select placeholder="Status" formControlName="ustatus">
            <mat-option *ngFor="let status of statuses" [value]="status">{{status.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="addCompanyWIthAdmin()" color="primary">Add</button>
    </mat-card-actions>
  </mat-card>
</div>
